<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3v="http://typo3.org/ns/T3v/T3vCore/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
  <v:variable.set name="gridElement" value="t3v-content-carousel-grid-element" />
  <v:variable.set name="uid" value="{v:variable.convert(value: data.uid, type: 'integer', default: 0)}" />
  <v:variable.set name="type" value="{v:variable.convert(value: data.flexform_type, type: 'string', default: 'default')}" />
  <v:variable.set name="handle" value="{v:variable.convert(value: data.flexform_handle, type: 'string', default: 'none')}" />
  <v:variable.set name="layout" value="{v:variable.convert(value: data.flexform_layout, type: 'string', default: 'default')}" />
  <v:variable.set name="container" value="{v:variable.convert(value: data.flexform_container, type: 'string', default: 'none')}" />
  <v:variable.set name="textAlign" value="{v:variable.convert(value: data.flexform_textAlign, type: 'string', default: 'default')}" />
  <v:variable.set name="styles" value="{v:variable.convert(value: data.styles, type: 'ObjectStorage')}" />

  <f:if condition="{handle}">
    <v:variable.set name="handle" value="{t3v:handle(input: handle)}" />
  </f:if>

  <v:tag name="{gridElement}" id="c{uid}" class="{gridElement} grid-element"
         additionalAttributes="{type: type, handle: handle, layout: layout, text-align: textAlign}" hideIfEmpty="false">
    <f:if condition="{container} != 'none'">
      <f:then>
        <v:tag name="div" class="{gridElement}__container container" data="{type: container}" hideIfEmpty="true">
          <f:render section="GridElement" arguments="{_all}" />
        </v:tag>
      </f:then>

      <f:else>
        <f:render section="GridElement" arguments="{_all}" />
      </f:else>
    </f:if>
  </v:tag>
</html>
