<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:t3v="http://typo3.org/ns/T3v/T3vCore/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
  <v:variable.set name="slug" value="{t3v:slug(value: data.flexform_slug)}" />

  <div id="c{data.uid}" class="document-section--{slug} document-section">
    <v:variable.set name="container" value="{f:cObject(typoscriptObjectPath: 'lib.t3v.content.config.gridElements.documentSectionGridElement.container')}" />

    <f:if condition="{data.flexform_container}">
      <v:variable.set name="container" value="{data.flexform_container}" />
    </f:if>

    <f:if condition="{container}">
      <v:tag name="div" class="document-section__container container--{container} container" hideIfEmpty="true">
        <f:render section="GridElement" arguments="{data: data}" />
      </v:tag>
    </f:if>
  </div>
</html>