<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
  <v:variable.set name="container" value="{f:cObject(typoscriptObjectPath: 'lib.plugin.tx_t3vcontent.gridElements.eventGridElement.container')}" />

  <f:if condition="{data.flexform_container}">
    <v:variable.set name="container" value="{data.flexform_container}" />
  </f:if>

  <div id="c{data.uid}" class="ge--t3v-content-event ge">
    <f:if condition="{container} != 'none'">
      <f:then>
        <v:tag name="div" class="ge__container container--{container} container" hideIfEmpty="true">
          <f:render section="GridElement" arguments="{data: data}" />
        </v:tag>
      </f:then>

      <f:else>
        <f:render section="GridElement" arguments="{data: data}" />
      </f:else>
    </f:if>
  </div>
</html>
