<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Textmedia" />

  <f:section name="Content">
    <f:if condition="{gallery.position.noWrap}">
      <f:render partial="Textmedia/Header" arguments="{_all}" />
    </f:if>

    <f:if condition="{data.bodytext}">
      <f:render partial="Textmedia/Bodytext" arguments="{_all}" />
    </f:if>

    <f:comment>
      <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
        <f:if condition="{gallery.position.vertical} != 'below'">
          <f:render partial="Shared/MediaGallery" arguments="{_all}" />
        </f:if>

        <f:if condition="{gallery.position.vertical} == 'below'">
          <f:render partial="Shared/MediaGallery" arguments="{_all}" />
        </f:if>
      </div>
    </f:comment>
  </f:section>
</html>