<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
  <div id="c{data.uid}" class="ge--t3v-content-column-layout--{data.flexform_spread} ge--t3v-content-column-layout--{data.flexform_breakpoint} ge--t3v-content-column-layout ge">
    <f:render partial="Shared/Header" arguments="{data: data}" />

    <v:tag name="div" class="ge__container" hideIfEmpty="true">
      <f:render section="Container" />
    </v:tag>
  </div>
</html>