<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:t3v="http://typo3.org/ns/T3v/T3vContent/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="AccordGridElement" />

  <f:section name="GridElement">
    <f:render partial="AccordGridElement/Header" arguments="{data: data}" />

    <v:tag name="div" class="ge__main" hideIfEmpty="true">
      <f:render section="Main" arguments="{data: data}" />
    </v:tag>
  </f:section>

  <f:section name="Main">
    <f:format.raw>{t3v:viewColumn(viewColumn: 10, data: data)}</f:format.raw>
  </f:section>
</html>