<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3v="http://typo3.org/ns/T3v/T3vContent/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
  <f:layout name="GridElements/EventGridElement" />

  <f:section name="GridElement">
    <f:render partial="GridElements/EventGridElement/Header" arguments="{data: data, passthrough: passthrough}" />

    <v:tag name="div" class="ge__abstract" hideIfEmpty="true">
      <f:render section="Abstract" arguments="{data: data, passthrough: passthrough}" />
    </v:tag>

    <v:tag name="div" class="ge__main" hideIfEmpty="true">
      <f:render section="Main" arguments="{data: data, passthrough: passthrough}" />
    </v:tag>

    <f:render section="Toggle" />
  </f:section>

  <f:section name="Abstract">
    <f:format.raw>{t3v:viewColumn(viewColumn: 10, data: data, passthrough: passthrough)}</f:format.raw>
  </f:section>

  <f:section name="Main">
    <f:format.raw>{t3v:viewColumn(viewColumn: 20, data: data, passthrough: passthrough)}</f:format.raw>
  </f:section>

  <f:section name="Toggle">
    <a class="ge__toggle" href="#" title="{f:translate(key: 'gridElements.eventGridElement.toggle.title', default: 'Toggle')}">
      <f:translate key="gridElements.eventGridElement.toggle.label" default="Toogle" />
    </a>
  </f:section>
</html>
