<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <f:layout name="GridElements/SliderGridElement" />

  <f:section name="GridElement">
    <f:render partial="GridElements/Shared/Header" arguments="{gridElement: gridElement, data: data}" />

    <f:render partial="GridElements/SliderGridElement/Main" arguments="{gridElement: gridElement, data: data}" />

    <f:render partial="GridElements/Shared/Footer" arguments="{gridElement: gridElement, data: data}" />
  </f:section>
</html>
