<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <div class="ce--t3v-content-column-layout--2-columns-{data.flexform_spread} ce--t3v-content-column-layout--{data.flexform_breakpoint} ce--t3v-content-column-layout ce">
    <div class="ce__container">
      <div class="ce__column">
        <f:format.raw>{data.tx_gridelements_view_column_101}</f:format.raw>
      </div>

      <div class="ce__column">
        <f:format.raw>{data.tx_gridelements_view_column_102}</f:format.raw>
      </div>
    </div>
  </div>
</html>