<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
  <v:variable.set name="title" value="{v:variable.convert(value: data.header, type: 'string')}" />
  <v:variable.set name="subtitle" value="{v:variable.convert(value: data.subheader, type: 'string')}" />
  <v:variable.set name="link" value="{v:variable.convert(value: data.header_link, type: 'string')}" />
  <v:variable.set name="date" value="{v:variable.convert(value: data.date, type: 'string')}" />
  <v:variable.set name="layout" value="{v:variable.convert(value: data.header_layout, type: 'integer', default: 0)}" />
  <v:variable.set name="position" value="{v:variable.convert(value: data.header_position, type: 'string', default: 'default')}" />
  <v:variable.set name="viewColumn" value="{data.tx_gridelements_view_column_10}" />

  <v:tag name="div" class="{gridElement}__header grid-element__header" data="{position: position}" hideIfEmpty="true">
    <f:if condition="{title} || {subtitle} || {date}">
      <f:if condition="{layout} != 0 && {layout} != 100">
        <f:render partial="GridElements/Shared/Header/Title"
                  arguments="{gridElement: gridElement, title: title, link: link, layout: layout}" />

        <f:render partial="GridElements/Shared/Header/Subtitle"
                  arguments="{gridElement: gridElement, subtitle: subtitle, layout: layout}" />

        <f:render partial="GridElements/Shared/Header/Date"
                  arguments="{gridElement: gridElement, date: date}" />
      </f:if>
    </f:if>

    <f:format.raw>{viewColumn}</f:format.raw>
  </v:tag>
</html>
